.navbar {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border-bottom: 1px solid;
}

.navbar > div > a > button {
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.container_nav {
  display: inherit;
}

.container_nav > img {
  margin-right: 50px;
}

.links_nav {
  display: inherit;
  list-style: none;
}

.links_nav > a {
  color: #000;
  text-decoration: none;
}

.links_nav > a > li {
  margin: 0 15px;
  cursor: pointer;
}

.sign_up {
  background-color: #1ca3c4;
  color: #fdfffc;
  font-weight: 500;
}

.sign_in {
  background-color: transparent;
}