.footer {
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 30px 50px;
  background-color: #1ca3c4;
}

.footer_container_categories {
  display: inherit;
  gap: 5rem;
}

.categories {
  color: #212121;
  font-weight: 500;
}

.categories > ul {
  list-style: none;
  margin-top: 1rem;
}

.categories > ul > a {
  color: #fdfffc;
  text-decoration: none;
}

.categories > ul > a > li {
  font-weight: 300;
}
